*{
	padding :0px;
	margin: 0px;
	font-family: roboto;
	border-radius: 40px;
	padding: 5px;
}

body{
	background-image: url(imag.jpeg);
}

h2{
	background-color: maroon;
	padding: 35px;
	text-align: center;
	margin: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.register
{
	background-color: white;
	margin-right: 280px;
	margin-left: 280px;
	margin-top: 80px;
	margin-bottom: 80PX;
	padding-bottom:10px;
	margin:center;
	border-bottom-width: 120px;
	box-shadow: 3px 3px 2px 2px;
	text-align: center;
}

#username{
	size: 10px;
	width: 200px;
	padding: 10px;
	margin-top: 15px;
}

#password{
	padding: 10px;
	width: 200px;
	padding: 10px;
	margin-top: 15px;
}

#register{
	padding: 10px;
	width: 200px;
	text-align: center;
	background-color: silver;
}

p{
	font-size: 20px;
	margin-top: 10px;

}

.paragraf{
	margin-top: 10px;
	margin-bottom: 20px;

}
